@model List<dataAccess.Entity.Motherboard>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>MOBO TABLE</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" type="text/css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/Home/Viewws">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/Home/Create">Add Datas Into Tables</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Delete">Delete Datas From Tables</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Update">Update Datas From Tables</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Viewws">View Tables</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <h1 class="display-4">MOBO TABLE</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">MOBO ID</th>
                        <th scope="col">MOBO CHIPSET NAME</th>
                        <th scope="col">MOBO NAME</th>
                        <th scope="col">MOBO SOCKETNAME</th>
                        <th scope="col">ACTION ONE</th>
                        <th scope="col">ACTION TWO</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.moboId</th>
                            <td>@item.chipsetName</td>
                            <td>@item.name</td>
                            <td>@item.socketName</td>
                            <td><a href='@Url.Action("DeleteMobo", "Home", new { id = @item.moboId })' class="btn btn-danger">DELETE</a></td>
                            <td><a href='@Url.Action("UpdateViewMobo", "Home", new { moboId = @item.moboId})' class="btn btn-primary">UPDATE</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>